.background {
	background-image: url("../i/background-image-5.jpg");
}
.b-1 .b-block {
	padding-top: 270px;
	color: #ffffff;
}
.b-1 .main-caption {
	display: block;
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 65px;
}
.b-1 .caption-text {
	display: block;
	padding-bottom: 10px;
	position: relative;
	font-weight: 400;
	font-size: 35px;
}
.b-1 .caption-text-2 {
	display: inline-block;
}
.b-1 .caption-text-2::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 3px;
	background-color: rgb(70, 147, 212);
}


@media screen and (max-width: 767px) {
	.b-1 .b-block {
		padding-top: 170px;
		padding-bottom: 100px;
		height: auto !important;
	}
	.b-1 .main-caption {
		font-size: 44px;
	}
	.b-1 .caption-text {
		font-size: 25px;
	}
}