@charset "utf-8";

html,
body {
	position: relative;
}
body {
	min-width: 300px;
	text-align: center;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #000000;
}
a {
	text-decoration: none;
	color: #000000;
}
li {
	list-style: none;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}
label.error {
	display: none !important;
}
input.error,textarea.error {
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
button:hover {
	cursor: pointer;
}
.fancybox-inner {
	overflow: visible !important;
}
.b {
	position: relative;
	overflow: hidden;
}
.b-block {
	position: relative;
	max-width: 1230px;
	margin: 0px auto;
	padding: 0 30px;
	font-family: 'Montserrat', sans-serif;
}
.button {
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	padding: 10px 23px;
	border-radius: 20px;
	border: 0;
}
.button-red {
	background-color: #ff6c72;
}
.button-blue {
	padding: 10px 70px;
	background-color: #4693d4;
}
.button-bir {
	padding: 10px 70px;
	background-color: rgb(70, 212, 196);
}
.main-caption {
	display: block;
	font-size: 44px;
	font-weight: 500;
}
.second-caption {
	font-size: 33px;
	font-weight: 500;
}
.background {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-size: cover;
	background-image: url("../i/background-image.jpg");
	background-position: center;
}
.btn-anim {
	position: relative;
}
.btn-anim span {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    -webkit-animation: move 6s steps(1, end) infinite normal;
    -moz-animation: move 6s steps(1, end) infinite normal;
    -ms-animation: move 6s steps(1, end) infinite normal;
    -o-animation: move 6s steps(1, end) infinite normal;
    animation: move 6s steps(1, end) infinite normal;
}
.btn-anim span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-animation: pulse 1s linear infinite normal;
    -moz-animation: pulse 1s linear infinite normal;
    -ms-animation: pulse 1s linear infinite normal;
    -o-animation: pulse 1s linear infinite normal;
    animation: pulse 1s linear infinite normal;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #ffffff;
	width: 100%;
	z-index: 100;
}
.header .b-block {
	padding-top: 10px;
	padding-bottom: 10px;
}
.header .country-list {
	display: inline-block;
	margin-right: 45px;
}
.header .country-list li {
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	padding-left: 30px;
	position: relative;
	margin-right: 10px;
}
.header .country-list li:hover {
	text-decoration: underline;
}
.header .country-list li::before {
	content: '';
	position: absolute;
	left: 0;
	top: -5px;
	display: block;
	background-repeat: no-repeat;
	width: 27px;
	height: 26px;
}
.header .country-list li:first-child:before {
	background-image: url("../i/romania.png");
}
.header .country-list li:last-child:before {
	background-image: url("../i/bulgaria.png");
}
.header .menu-list {
	display: inline-block;
	margin-right: 55px;
}
.header .menu-list li {
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	margin: 0 10px;
}
.header .menu-list li a:hover {
	text-decoration: underline;
}
.header .menu-contacts {
	display: inline-block;
}
.header .phone-a {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	margin-right: 10px;
}

.footer {
	background-color: #ffffff;
}
.footer .b-block {
	padding-top: 32px;
	padding-bottom: 50px;
}
.footer .romania, .footer .bulgaria {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	margin: 0 25px 20px;
}
.footer .romania .romania-a, .footer .bulgaria .bulgaria-a {
	display: block;
	font-size: 14px;
	font-weight: 400;
	padding-left: 30px;
	position: relative;
	margin-bottom: 20px;
}
.footer .romania .romania-a::before {
	content: '';
	position: absolute;
	left: 0;
	top: -5px;
	display: block;
	background-repeat: no-repeat;
	width: 27px;
	height: 26px;
	background-image: url("../i/romania.png");
}
.footer .bulgaria .bulgaria-a::before {
	content: '';
	position: absolute;
	left: 0;
	top: -5px;
	display: block;
	background-repeat: no-repeat;
	width: 27px;
	height: 26px;
	background-image: url("../i/bulgaria.png");
}
.footer .romania ul, .footer .bulgaria ul {
	padding-left: 30px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.6;
}
.footer-menu-list {
	display: inline-block;
	vertical-align: middle;
	margin: 0 60px;
}
.footer-menu-list li {
	text-align: left;
	font-size: 14px;
	font-weight: 600;
}
.footer .romania a:hover, .footer .bulgaria a:hover, .footer-menu-list a:hover, .footer-info-list a:hover {
	text-decoration: underline;
}
.footer .logo-atk {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}
.footer .logo-atk img {
	display: block;
}
.footer .logo-atk span {
	display: block;
	margin-top: 7px;
	text-align: left;
	font-size: 10px;
	color: rgb(28, 28, 28);
	line-height: 1.2;
	font-weight: 400;
}
.footer-bottom {
	text-align: left;
}
.footer-info-list {
	display: inline-block;
	vertical-align: bottom;
	text-align: left;
	margin-right: 30px;
}
.footer-info-list li {
	display: inline-block;
	margin-right: 20px;
	font-weight: 400;
	font-size: 12px;
}
.footer .social-list {
	display: inline-block;
	vertical-align: bottom;
}
.footer .social-list li {
	display: inline-block;
	vertical-align: top;
	margin: 0 7px;
}
.footer .social-list li:hover img {
	-webkit-animation: anim_icon 1s ease infinite;
	-moz-animation: anim_icon 1s ease infinite;
	-ms-animation: anim_icon 1s ease infinite;
	-o-animation: anim_icon 1s ease infinite;
	animation: anim_icon 1s ease infinite;
}


@-webkit-keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@-moz-keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@-ms-keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@-o-keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0% {
    left: 10%;
    top: 5%;
  }
  16% {
    left: 70%;
    top: 50%;
  }
  33% {
    left: 25%;
    top: 64%;
  }
  49% {
    left: 35%;
    top: 13%;
  }
  66% {
    left: 87%;
    top: 40%;
  }
  82% {
    left: 58%;
    top: 70%;
  }
}
@-moz-keyframes move {
  0% {
    left: 10%;
    top: 5%;
  }
  16% {
    left: 70%;
    top: 50%;
  }
  33% {
    left: 25%;
    top: 64%;
  }
  49% {
    left: 35%;
    top: 13%;
  }
  66% {
    left: 87%;
    top: 40%;
  }
  82% {
    left: 58%;
    top: 70%;
  }
}
@-ms-keyframes move {
  0% {
    left: 10%;
    top: 5%;
  }
  16% {
    left: 70%;
    top: 50%;
  }
  33% {
    left: 25%;
    top: 64%;
  }
  49% {
    left: 35%;
    top: 13%;
  }
  66% {
    left: 87%;
    top: 40%;
  }
  82% {
    left: 58%;
    top: 70%;
  }
}
@-o-keyframes move {
  0% {
    left: 10%;
    top: 5%;
  }
  16% {
    left: 70%;
    top: 50%;
  }
  33% {
    left: 25%;
    top: 64%;
  }
  49% {
    left: 35%;
    top: 13%;
  }
  66% {
    left: 87%;
    top: 40%;
  }
  82% {
    left: 58%;
    top: 70%;
  }
}
@keyframes move {
  0% {
    left: 10%;
    top: 5%;
  }
  16% {
    left: 70%;
    top: 50%;
  }
  33% {
    left: 25%;
    top: 64%;
  }
  49% {
    left: 35%;
    top: 13%;
  }
  66% {
    left: 87%;
    top: 40%;
  }
  82% {
    left: 58%;
    top: 70%;
  }
}

@-webkit-keyframes anim_icon {
	0% {transform: rotate(0deg);}
	10% {transform: rotate(30deg);}
	30% {transform: rotate(-30deg);}
	40% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}
@-moz-keyframes anim_icon {
	0% {transform: rotate(0deg);}
	10% {transform: rotate(30deg);}
	30% {transform: rotate(-30deg);}
	40% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}
@-ms-keyframes anim_icon {
	0% {transform: rotate(0deg);}
	10% {transform: rotate(30deg);}
	30% {transform: rotate(-30deg);}
	40% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}
@-o-keyframes anim_icon {
	0% {transform: rotate(0deg);}
	10% {transform: rotate(30deg);}
	30% {transform: rotate(-30deg);}
	40% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}
@keyframes anim_icon {
	0% {transform: rotate(0deg);}
	10% {transform: rotate(30deg);}
	30% {transform: rotate(-30deg);}
	40% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}




@media (-webkit-min-device-pixel-ratio: 1.5) {
}	
@media screen and (max-width: 1279px){
	.b-block {
		max-width: 700px;
	}
	.header .country-list {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.header .menu-list {
		margin-right: 10px;
	}
	.header .country-list li {
		margin: 0 10px;
	}
	.footer .romania, .footer .bulgaria, .footer-menu-list {
		margin: 0 10px 20px;
	}
	.footer .logo-atk {
		margin-left: 0;
		margin-bottom: 20px;
	}
	.footer-bottom {
		text-align: center;
	}
	.footer-info-list {
		margin-right: 0;
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 767px){

}