.background {
	background-image: url("../i/background-image-2.jpg");
}
.b-1 {
	color: #ffffff;
}
.b-1 .b-block {
	padding-top: 74px;
	padding-bottom: 94px;
}
.b-1 .second-caption {
	margin-bottom: 20px;
}
.b-1 .second-caption span {
	color: #ffe991;
}
.b-1-bonus {
	display: block;
	text-align: center;
	margin-bottom: 10px;
}
.b-1-bonus p {
	display: block;
	text-align: center;
	font-size: 22px;
	margin-bottom: 20px;
}
.b-1-bonus p span {
	color: #ffe991;
}
.b-1-bonus-list li {
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	font-weight: 600;
	margin: 0 20px 10px;
	padding-left: 31px;
	position: relative;
}
.b-1-bonus-list li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 21px;
	height: 21px;
	background-image: url("../i/bonus-icon-2.png");
}
.b-1-submit {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 100%;
	padding: 32px 38px;
	max-width: 572px;
	border: 1px solid rgb(70, 147, 212);
	border-radius: 7px;
	overflow: hidden;
}
.b-1-submit .submit-caption {
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 20px;
	font-weight: 500;
}
.b-1-submit .submit-caption span {
	color: #ffe991;
}
.b-1-submit .submit-price {
	font-size: 18px;
	color: rgb(198, 198, 198);
	text-decoration: underline;
	margin-bottom: 30px;
}
.b-1-submit .submit-text {
	padding: 10px 0;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 35px;
	border: 1px solid #ffffff;
	border-radius: 30px;
}
.b-1 .submit-list {
	margin-bottom: 30px;
}
.b-1 .submit-list li {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #ffffff;
	margin-right: 130px;
	-webkit-transition: all 0.3s 0.5s;
	-moz-transition: all 0.3s 0.5s;
	-ms-transition: all 0.3s 0.5s;
	-o-transition: all 0.3s 0.5s;
	transition: all 0.3s 0.5s;
}
.b-1 .submit-list li::before {
	content: '';
	position: absolute;
	top: calc(50% - 1px);
	right: 100%;
	display: block;
	width: 134px;
	height: 2px;
	background-color: #ffffff;
}
.b-1 .submit-list li::after {
	content: '';
	position: absolute;
	top: calc(50% - 1px);
	left: -134px;
	display: block;
	width: 0px;
	height: 2px;
	background-color: rgb(70, 147, 212);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.b-1 .submit-list li:first-child:before {
	display: none;
}
.b-1 .submit-list li:first-child:after {
	display: none;
} 
.b-1 .submit-list li:last-child {
	margin-right: 0;
}
.b-1 .submit-list li.active {
	background-color: rgb(70, 147, 212);
}
.b-1 .submit-list li.active::after {
	width: 134px;
}
.b-1 .button-list {
	margin-bottom: 40px;
}
.b-1 .button-list li {
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	font-weight: 500;
	position: relative;
	z-index: 1;
	padding-left: 30px;
	margin: 0 30px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1 .submit-btn-error {
	font-size: 18px;
	color: #ff6c72;
	display: none;
	margin-bottom: 10px;
	font-weight: 500;
}
.b-1 .submit-btn-error.active {
	display: block;
}
.b-1 .button-list li:hover {
	cursor: pointer;
}
.b-1 .button-list li::before {
	content: '';
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	border: 2px solid #ffffff;
}
.b-1 .button-list li.error::before {
	border-color: #ff6c72;
}
.b-1 .button-list li.active::before {
	background-color: #ff6c72;
}

.b-2 {
	background-color: #ffffff;
}
.b-2 .b-block {
	padding-top: 63px;
	padding-bottom: 73px;
}
.b-2 .second-caption {
	margin-bottom: 50px;
}
.b-2-list .button {
	font-size: 18px;
	font-weight: 500;
}
.b-2-list .step {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 124px;
	border-bottom: 1px solid rgb(225, 225, 225);
	position: relative;
	text-align: left;
}
.b-2-list .step img {
	position: absolute;
	left: 0;
	display: block;
}
.b-2-list .step:hover img {
	-webkit-animation: anim_icon 1s ease infinite;
	-moz-animation: anim_icon 1s ease infinite;
	-ms-animation: anim_icon 1s ease infinite;
	-o-animation: anim_icon 1s ease infinite;
	animation: anim_icon 1s ease infinite;
}
.b-2-list .step-1 img {
	top: calc(50% - 44px);
}
.b-2-list .step-2 img {
	top: calc(50% - 44px);
}
.b-2-list .step-3 img {
	top: calc(50% - 39px);
}
.b-2-list .step-4 img {
	top: calc(50% - 44px);
}
.b-2-list .step-5 img {
	top: calc(50% - 43px);
}
.b-2-list .step:last-child {
	border: 0;
}
.b-2-list .li-left {
	display: inline-block;
	vertical-align: top;
}
.b-2-list .li-caption {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
	text-align: left;
}
.b-2-list ul li {
	padding-left: 44px;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
	text-align: left;
	position: relative;
}
.b-2-list ul li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 23px;
	height: 18px;
	background-image: url("../i/gal-icon.png");
}
.b-2-list .li-right {
	padding: 15px 10px 15px 20px;
	background-color: #d3ebff;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.4;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2-list .step:hover .li-right {
	background-color: #a8d2f6;
}

.b-3 {
	color: rgb(0, 57, 106);
	background-color: #f1fbfb;
}
.b-3 .b-block {
	padding-top: 70px;
	padding-bottom: 64px;
}
.b-3 .second-caption {
	margin-bottom: 10px;
}
.b-3 .caption-text {
	display: block;
	text-align: center;
	margin-bottom: 50px;
	font-size: 18px;
	line-height: 1.2;
}
.b-3-slider {
	padding: 0 35px;
	position: relative;
}
.b-3-slide {
	margin: 0 15px;
}
.b-3-slide img {
	display: block;
	width: 100%;
}
.b-3-slide .slide-caption {
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 10px;
}
.b-3-slide .slide-text {
	font-size: 16px;
	font-weight: 400;
	margin: 0 auto 15px;
	max-width: 330px;
}
.b-3-slider .slick-arrow {
	font-size: 0;
	background-color: transparent;
	border: 0;
	position: absolute;
	top: 30%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	display: block;
	width: 20px;
	height: 47px;
	z-index: 10;
}
.b-3-slider .slick-next {
	background-image: url("../i/arr-next.png");
	right: 0;
}
.b-3-slider .slick-prev {
	background-image: url("../i/arr-prev.png");
	left: 0;
}
.b-3-slider .button {
	font-size: 18px;
	font-weight: 500;
}

.b-4 {
	background-color: #ffffff;
}
.b-4 .b-block {
	padding-top: 63px;
	padding-bottom: 74px;
}
.b-4 .second-caption {
	margin-bottom: 60px;
}
.b-4-bonus-list li {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 30px;
	width: 33%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.b-4-bonus-list li:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.b-4-bonus-list li img {
	display: block;
	margin: 0 auto 20px;
}
.b-4-bonus-list li span {
	display: inline-block;
	padding-bottom: 5px;
	position: relative;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 10px;
}
.b-4-bonus-list li span::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: #ff6c72;
}
.b-4-bonus-list li p {
	font-weight: 400;
	font-size: 20px;
}

.b-5 {
	background-color: #f1fbfb;
}
.b-5 .b-block {
	padding-top: 70px;
	padding-bottom: 91px;
}
.b-5 .second-caption {
	margin-bottom: 30px;
	color: rgb(0, 57, 106);
}
.b-5 .caption-text {
	display: block;
	text-align: center;
	margin-bottom: 35px;
	color: rgb(0, 57, 106);
	font-size: 18px;
	line-height: 1.2;
}
.b-5 .preim-list li {
	display: block;
	background-color: #ffffff;
	box-shadow: 0px 3px 9px 0px rgba(0, 1, 0, 0.13);
	margin-bottom: 30px;
	padding: 20px 20px 20px 270px;
	position: relative;
	text-align: left;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.b-5 .preim-list li img {
	position: absolute;
	display: block;
}
.b-5 .preim-list .preim-li-1 img {
	left: 89px;
	top: calc(50% - 48px);
}
.b-5 .preim-list .preim-li-2 img {
	left: 81px;
	top: calc(50% - 48px);
}
.b-5 .preim-list .preim-li-3 img {
	left: 89px;
	top: calc(50% - 48px);
}
.b-5 .preim-list .preim-li-4 img {
	left: 89px;
	top: calc(50% - 38px);
}
.b-5 .preim-list .preim-li-5 img {
	left: 81px;
	top: calc(50% - 48px);
}
.b-5 .preim-list .preim-li-6 img {
	left: 89px;
	top: calc(50% - 48px);
}
.b-5 .preim-list .preim-li-7 img {
	left: 95px;
	top: calc(50% - 48px);
}
.b-5 .preim-list li:hover {
	box-shadow: 0px 3px 9px 8px rgba(0, 1, 0, 0.13);
}
.b-5 .preim-list li:hover img {
	-webkit-animation: anim_icon 1s ease infinite;
	-moz-animation: anim_icon 1s ease infinite;
	-ms-animation: anim_icon 1s ease infinite;
	-o-animation: anim_icon 1s ease infinite;
	animation: anim_icon 1s ease infinite;
}
.b-5 .preim-list li span {
	display: block;
	font-size: 20px;
	color: rgb(0, 40, 75);
	font-weight: 500;
	margin-bottom: 15px;
}
.b-5 .preim-list li p {
	display: block;
	font-size: 16px;
	color: rgb(0, 40, 75);
	font-weight: 400;
	margin-bottom: 20px;
}
.b-5 .preim-list li a {
	font-size: 16px;
	color: rgb(70, 211, 196);
	text-decoration: underline;
}
.b-5 .preim-list li a:hover {
	text-decoration: none;
}

.b-6 {
	color: #ffffff;
}
.b-6 .b-block {
	padding-top: 72px;
	padding-bottom: 88px;
}
.b-6 .second-caption {
	margin-bottom: 55px;
}
.b-6-contacts-list li {
	display: inline-block;
	vertical-align: top;
	padding-left: 44px;
	font-size: 24px;
	font-weight: 500;
	position: relative;
	margin: 0 50px 20px;
}
.b-6-contacts-list li a {
	color: #ffffff;
}
.b-6-contacts-list li::before {
	content: '';
	position: absolute;
	display: block;
	left: 0;
	top: -3px;
	width: 32px;
	height: 32px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.b-6-contacts-list li:first-child:before {
	background-image: url("../i/phone-icon-2.png");
}
.b-6-contacts-list li:nth-child(2):before {
	background-image: url("../i/mail-icon-2.png");
}
.b-6-contacts-list li:last-child:before {
	background-image: url("../i/skype-icon-2.png");
}
.b-6-contacts-list li:hover:before {
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
}
.b-6 form {
	display: block;
	max-width: 772px;
	box-sizing: border-box;
	width: 100%;
	padding: 40px 30px 32px 30px;
	border-radius: 7px;
	border: 1px solid rgb(70, 147, 212);
	margin: 0 auto;
	overflow: hidden;
}
.b-6 .form-text {
	display: block;
	margin-bottom: 35px;
	font-size: 23px;
	font-weight: 500;
}
.b-6 form input {
	display: block;
	position: relative;
	z-index: 1;
	max-width: 345px;
	box-sizing: border-box;
	width: 100%;
	padding-top: 17px;
	padding-bottom: 17px;
	margin: 0 auto 10px;
	background-color: transparent;
	border: 1px solid #ffffff;
	border-radius: 30px;
	text-align: center;
	font-size: 18px;
	color: #ffffff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.b-6 form input:hover {
	border-color: rgb(70, 147, 212);
}
.b-6 .button {
	font-size: 18px;
	padding-top: 17px;
	padding-bottom: 17px;
	border-radius: 30px;
	margin-bottom: 14px;
	font-weight: 500;
}
.b-6 .button-text {
	font-size: 12px;
	color: rgb(220, 220, 220);
	line-height: 1.6;
}
.b-6 .button-text a {
	color: rgb(220, 220, 220);
}
.b-6 .button-text a:hover {
	text-decoration: underline;
}
.b-6 form input::-webkit-input-placeholder {color:#ffffff;}
.b-6 form input::-moz-placeholder          {color:#ffffff;}/* Firefox 19+ */
.b-6 form input:-moz-placeholder           {color:#ffffff;}/* Firefox 18- */
.b-6 form input:-ms-input-placeholder      {color:#ffffff;}
.b-6 form input:focus::-webkit-input-placeholder {color:transparent;}
.b-6 form input:focus::-moz-placeholder          {color:transparent;}/* Firefox 19+ */
.b-6 form input:focus:-moz-placeholder           {color:transparent;}/* Firefox 18- */
.b-6 form input:focus:-ms-input-placeholder      {color:transparent;}
.b-6 form input:focus {
	border-color: rgb(70, 147, 212);
}


@media screen and (max-width: 1279px) {
	.b-2-list .step::before {
		top: 30px !important;
	}
	.b-2-list .li-right {
		float: left !important;
		margin: 20px auto 0;
	}
	.b-4-bonus-list li {
		display: block;
		width: 100% !important;
	}
	.b-6-contacts-list li {
		margin: 0 20px 20px;
	}
}

@media screen and (max-width: 767px) {
	.b-1-bonus-list {
		text-align: left;
	}
	.b-1 .submit-list li {
		margin-right: 30px;
	}
	.b-1 .submit-list li::before {
		width: 34px;
	}
	.b-1 .submit-list li::after {
		left: -34px;
	}
	.b-1 .submit-list li.active::after {
		width: 34px;
	}
	.b-2-list .step {
		padding: 150px 30px 30px;
	}
	.b-2-list .step-1 img {
		left: calc(50% - 44px);
		top: 30px;
	}
	.b-2-list .step-2 img {
		left: calc(50% - 44px);
		top: 30px;
	}
	.b-2-list .step-3 img {
		left: calc(50% - 44px);
		top: 30px;
	}
	.b-2-list .step-4 img {
		left: calc(50% - 35px);
		top: 30px;
	}
	.b-2-list .step-5 img {
		left: calc(50% - 41px);
		top: 30px;
	}
	.b-5 .preim-list li {
		padding: 137px 20px 20px;
	}
	.b-5 .preim-list .preim-li-1 img {
		left: calc(50% - 52px);
		top: 20px;
	}
	.b-5 .preim-list .preim-li-2 img {
		left: calc(50% - 48px);
		top: 20px;
	}
	.b-5 .preim-list .preim-li-3 img {
		left: calc(50% - 48px);
		top: 20px;
	}
	.b-5 .preim-list .preim-li-4 img {
		left: calc(50% - 48px);
		top: 20px;
	}
	.b-5 .preim-list .preim-li-5 img {
		left: calc(50% - 48px);
		top: 20px;
	}
	.b-5 .preim-list .preim-li-6 img {
		left: calc(50% - 48px);
		top: 20px;
	}
	.b-5 .preim-list .preim-li-7 img {
		left: calc(50% - 41px);
		top: 20px;
	}
}

@media screen and (max-width: 400px) {
	.b-6 .button {
		padding: 17px 20px;
	}
}